@page "/add-part"
@attribute [Authorize]

<PageTitle>Add Part</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save Part</RadzenAlert>
        <RadzenTemplateForm TItem="CloudDevOpsProject1.Server.Models.DevOps_Proj_Database.Part" Data="@part" Visible="@(part != null && canEdit)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Name" Component="Name" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@part.Name" Name="Name" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Specs" Component="Specs" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@part.Specs" Name="Specs" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Vendor" Component="Vendor" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDown Data="@vendorsForVendorID" TextProperty="Ven_Name" ValueProperty="Vendor_ID"
                         Placeholder="Choose Vendor" style="display: block; width: 100%" @bind-Value="@part.Vendor_ID" Name="Vendor_ID"
                         Count=@vendorsForVendorIDCount LoadData=@vendorsForVendorIDLoadData />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

